* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

img {
	width: 100%;
}

header {
	text-align: center;
	border: 1px solid #b7b7b7;
	padding: 10px;
}

section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 20px;

}

article {
	border: 1px solid #b7b7b7;
}

main {
	max-width: 90%;
	margin: 0 auto;
}

footer {
	text-align: center;
	border: 1px solid #b7b7b7;
	padding: 20px;
}
